body{
    border:1px red solid;
    margin:0;
    height: 100vh;
    width: 100vw;
}

#keyboard{
    background-image: url(keyboard.png);
    width:100vw;
    height:60.79295vw;
    position: absolute;
    top:116.985vw;    
}
.original{
    background-image: url(button.png);
}
.choose_r{
    background-color: #880000;
}
.choose_b{
    background-color: #003377;
}
.btn {
    width:8.5169vw;
    height:13.9501vw;
    position: absolute;
	text-align:center;
	color:white;
	font-size:7vw;
	line-height:13.9051vw;
}

.f-row{
    top:0.99859vw;   
}

#q{
    left:1.3482vw;
}
#w{
    left:11.2133vw;
}
#e{
    left:21.0784vw;
}
#r{
    left:30.9435vw;
}
#t{
    left:40.8086vw;
}
#y{
    left:50.6737vw;
}
#u{
    left:60.5388vw;
}
#i{
    left:70.4039vw;
}
#o{
    left:80.269vw;
}
#p{
    left:90.1341vw;
}

.s-row{
    top:15.94718vw;
}
#a{
    left:6.28115vw;
}
#s{
    left:16.14625vw;
}
#d{
    left:26.01135vw;
}
#f{
    left:35.87645vw;
}
#g{
    left:45.74155vw;
}
#h{
    left:55.60665vw;
}
#j{
    left:65.47175vw;
}
#k{
    left:75.33685vw;
}
#l{
    left:85.20195vw;
}


.t-row{
    top:30.89577vw;
}

#z{
    left:16.14625vw;
}
#x{
    left:26.01135vw;
}
#c{
    left:35.87645vw;
}
#v{
    left:45.74155vw;
}
#b{
    left:55.60665vw;
}
#n{
    left:65.47175vw;
}
#m{
    left:75.33685vw;
}

#space{
    top:45.84472vw;
    left:35.87645vw;
    width:38.1122vw;
}

/* vi:et:sw=2:ts=2 */
