$keyboard-width: 100vw
$key-height: 95 / 681 * $keyboard-width

$btn_w: (5800vw/681)
$btn_h: (9500vw/681)
$interval: (10100vw/681/11)
$first_top: (3400vw/5/681)
$second_offset: (100vw -$btn_w*9 -$interval*8)/2
$third_offset: (100vw -$btn_w*7 -$interval*6)/2
$second_top: 2*$first-top+$btn_h
$third_top: 3*$first_top+2*$btn_h
$forth_top: 4*$first_top+3*$btn_h

body 
  margin: 0
  height: 100vh
  width: 100vw

#keyboard
   background-image: url(res/keyboard.png)
   bottom: 0
   height: 414 / 681 * $keyboard_width
   line-height: $btn_h
   position: absolute
   width: $keyboard_width

.key
   background: url(res/button.png)
   color: white
   font-size: 7vw
   line-height: $key-height
   height: $key-height
   text-align: center
   width: 58 / 681 * $keyboard-width
   &.red
     background: #880000
   &.blue
     background: #003377

.btn
   position: absolute
=key_position($row,$num)
   @if $row ==1
      top: $first_top
      left: $num*$interval+($num - 1)*$btn_w
   @else if $row == 2
      top: $second_top
      left: $second_offset+($num - 1)*$interval+($num - 1)*$btn_w
   @else if $row == 3
      top: $third_top
      left: $third_offset+($num - 1)*$interval+($num - 1)*$btn_w
   @else
      top: $forth_top
      left: $third_offset+2*$interval+2*$btn_w
#q
   @extend .btn
   +key_position(1,1)
#w
   @extend .btn
   +key_position(1,2)
#e
   @extend .btn
   +key_position(1,3)
#r
   @extend .btn
   +key_position(1,4)
#t
   @extend .btn
   +key_position(1,5)
#y
   @extend .btn
   +key_position(1,6)
#u
   @extend .btn
   +key_position(1,7)
#i
   @extend .btn
   +key_position(1,8)
#o
   @extend .btn
   +key_position(1,9)
#p
   @extend .btn
   +key_position(1,10)
#a
   @extend .btn
   +key_position(2,1)
#s
   @extend .btn
   +key_position(2,2)
#d
   @extend .btn
   +key_position(2,3)
#f
   @extend .btn
   +key_position(2,4)
#g
   @extend .btn
   +key_position(2,5)
#h
   @extend .btn
   +key_position(2,6)
#j
   @extend .btn
   +key_position(2,7)
#k
   @extend .btn
   +key_position(2,8)
#l
   @extend .btn
   +key_position(2,9)
#z
   @extend .btn
   +key_position(3,1)
#x
   @extend .btn
   +key_position(3,2)
#c
   @extend .btn
   +key_position(3,3)
#v
   @extend .btn
   +key_position(3,4)
#b
   @extend .btn
   +key_position(3,5)
#n
   @extend .btn
   +key_position(3,6)
#m
   @extend .btn
   +key_position(3,7)
#space
   width: $btn_w*4+$interval*3
   height: $btn_h
   position: absolute
   +key_position(4,1)

// vi:et:sw=2:ts=2
