$keyboard-width: 100vw
$keyboard-height: 3.5/5.8 *$keyboard-width
$key-height: 0.75 / 5.8 *$keyboard-width
$key-width: 0.48 / 5.8 *$keyboard-width
$horizontal-gap: (100vw - $key-width*10)/11 
$vertical-gap: ($keyboard-height - $key-height*4)/5
body 
  margin: 0
  height: 100vh
  width: 100vw

#keyboard
  background-image: url(res/keyboard.png)
  position: absolute
  bottom: 0
  height: $keyboard-height
  width: $keyboard-width
.row
  text-align: center
  margin-top: $vertical-gap
.key
  vertical-align: top
  background: url(res/button.png)
  color: white
  font-size: 7vw
  line-height: $key-height
  width: $key-width
  height: $key-height
  text-align: center
  display: inline-block
  &.red
    background: #880000
  &.blue
    background: #003377
.row .key+.key
  margin-left: $horizontal-gap
#space
  width: $key-width*4 + $horizontal-gap*3
  margin-left: $key-width + $horizontal-gap
// vi:et:sw=2:ts=2
